.lobbyScreenContainer {
  width: 100%;
  height: 100%;
}

.mainLobbyContainer{
  display: flex;
  width: 100%;
  height: auto;
}

.usersConexion {
  display: grid;
  align-items: center;
  align-content: center;
  border: solid blue;
  height: 50vh;
  margin: 20px 10px 0px 20px;
  padding: 15px;
  border-radius: 20px;
  background-color: #e0f6ff;
}

.startGameButton {
  padding: 10px;
  min-width: 100px;
  // border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  color: white;
  background: blue;
  transition: ease .20s;
}
.startGameButton:hover {
  background-color: #e0f6ff;
  color: blue;
  border: solid blue;
  box-shadow: #007bff 0px 0px 7px;
  transition: ease .20s;
  cursor: pointer;
}