.tittleContainer #scoreTittle:before {
  position: relative;
  left: 80px;
  height: 3.2px;
}
.tittleContainer #scoreTittle:after {
  left: 0px;
}

.scoreDataContainer {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.scoreDataBoard {
  width: 70%;
  height: 90%;
  padding: 10px;
  border: solid 2px blue;
  border-radius: 10px;
}
.scoreBingoPlayer {

}
.firstLinePlayer {

}

.endGameButtonContainer {
  justify-content: center;
}
.endTheGameButton {
  padding: 10px;
  min-width: 100px;
  // border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  color: white;
  background: blue;
  transition: ease .20s;
}
.endTheGameButton:hover {
  background-color: #e0f6ff;
  color: blue;
  border: solid blue;
  box-shadow: #007bff 0px 0px 7px;
  transition: ease .20s;
  cursor: pointer;
}