body {
  -youbkit-touch-callout: none; /*iOS Safari*/
  -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge y Opera 15+ */
  -moz-user-select: none;       /*Firefox*/
  -ms-user-select: none;        /* IE 10+ y Edge */
  user-select: none;
}

.tittleContainer #bingoTittle:before {
  position: relative;
  left: 40px;
}
.tittleContainer #bingoTittle:after {
  left: 40px;
}

.dataContainer {
  display: flex;
  max-width: 600px;
  margin: 0px auto 20px auto;
  justify-content: space-between;
  align-items: flex-start;
}

.playersSection {
  display: grid;
  justify-items: center;
  width: 350px;
  margin-left: 15px;
  padding: 10px;
  // border: solid 2px blue;
  border-radius: 20px;
  box-shadow: 0px 0px 10px blue;
}
.tittlePlayers {
  margin-bottom: 10px;
  text-decoration: underline;
}
.playersConnected .line {
  color: blue;
}

.infoSection {
  display: grid;
  justify-content: center;
  margin: 0px 15px 0px 20px;
}
.infoCard {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.infoCard .logo {
  width: 20px;
}
.infoCoincidence {
  display: flex;
  align-items: center;
}
.infoCoincidence .color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: red;
}
.infoLine {
  display: flex;
  align-items: center;
}
.infoLine .color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: blue;
}
.infoBingo {
  display: flex;
  align-items: center;
}
.infoBingo .color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: orange;
}

.sectionBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.boardContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  // margin: 0px 5%;
  background-color: #51e0f5;
}
.boardContainer div {
  text-align: center;
  border: 1px solid;
  padding: 10px;
}
.boardContainer .coincidence {
  background-color: red;
  color: white;
}
.boardContainer .line {
  background-color: rgb(13, 0, 255);
  color: white;
}
.boardContainer .bingo {
  background-color: rgb(255, 145, 0);
  color: rgb(0, 0, 0);
}

.ballCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.cardText {
  margin-right: 5px;
}
.ballNumber {
  display: inline-block;
  color: rgb(7, 7, 115);
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 20px;
}
.ballCard .clean {
  background-color: white;
  color: rgb(7, 7, 115);
}
.ballCard .coincidence {
  background-color: red;
  color: white;
}
.ballCard .line {
  background-color: rgb(13, 0, 255);
  color: white;
}
.ballCard .bingo {
  background-color: rgb(255, 145, 0);
  color: rgb(0, 0, 0);
}


.newBallButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.ballButton {
  margin-right: 5px;
  padding: 10px;
  min-width: 100px;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  color: white;
  background: blue;
  transition: ease .20s;
}
.ballButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}