.ConnectedPlayers {
  display: grid;
  align-items: center;
  align-content: center;
  border: solid blue;
  // height: 50vh;
  margin: 20px 10px 0px 20px;
  padding: 15px;
  border-radius: 20px;
  background-color: #e0f6ff;

  .player {
    margin: .25em 0;
  }
}