* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.tittleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.tittleContainer h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  // margin: auto;
  white-space: nowrap;
  // margin-bottom: 8px;
}
.tittleContainer h1:before {
  background-color: #1a00c5;
  content: '';
  display: block;
  height: 3px;
  width: 80px;
  margin-bottom: 5px;
}
.tittleContainer h1:after {
  background-color: #1a00c5;
    content: '';
    display: block;
    position: relative;
    left: 80px;
    bottom: 0;
    height: 3px;
    width: 80px;
    margin-top: 0.10em;
}

.buttonContainer {
  display: flex;
  align-items: center;
}